.App {
  text-align: center;
  min-height: 100vh;
}

.wordRow {
  border: 0.2rem solid rgba(255, 255, 255, 0);
}

.wordBoard {
  max-width: calc(4rem * 5.1);
  width: 90%;
}

.keyboard {
  width: 95%;
  max-width: calc(4rem * 7.1);
}

 * {
  font-weight: bold !important;
}

.headerButton, .headerButton * {
  font-weight: 400 !important;
  background: none !important;
}

.keyboardLetter {
  width: 10%;
}

.keyboardKey {
  border-color: none;
  height: 3rem;
  margin: 0.1rem;

}

.modalClose {
  position: absolute;
  top: 3%;
  right: 2%;
}

.headerModal {
  margin: auto;
  max-width: 600px;
}

.letterTile {
  margin: auto 0.1rem;
}

.letterTile:first-child{
  margin-left: 0 !important;
}

.letterTile:last-child{
  margin-right: 0 !important;
}

.currentRow {
  border-color:rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  .keyboard, .wordBoard{
    margin-top: 5%;
  }
}