.App {
  text-align: center;
}

.wordRow {
  border: 0.2rem solid rgba(255, 255, 255, 0);
}

.wordBoard {
  max-width: calc(4rem * 5.1);
  width: 100%;
}

.keyboard {
  width: 100%;
  max-width: calc(4rem * 7.1);
}

.keyboardKey, .letterTile {
  font-weight: bold;
}

.keyboardLetter {
  width: 10%;
  height: 3rem;
  margin: 0.1rem;
}